.navbar {
  height: 136px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
  background-color: #EDF6F0;
  /* border-bottom: 1px solid lightgray; */

  .navbarContainer {
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    .navKanan {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    .pageName p {
      font-size: 36px;
      font-weight: semi-bold;
    }

  .photo {
    width: 56px;
    height: 56px;
    border-radius: 50px;
    border: 3px solid #009B4C;
  }
  }
}

.simpanPengajuan {
  background-color: transparent;
  padding: 15px;
  border: 1px solid #BFBFBF;
  color: black;
  font-size: 16px;
  font-weight: semi-bold;
  border-radius: 10px;
}

.verifikasiProgram {
  padding: 15px;
  background-color: #078D41;
color: white;
font-size: 16px;
font-weight: semi-bold;
border-radius: 10px;
border: none;
}

.navKiri {
  .pageName {
  span: 16px;
  gap: 8px;
  display: flex;
  align-items: center;
}

  .arrowLeft {
    width: 24px;
  }
}

/* .fotoPratinjau {
  height: 169px;
  width: 100%;
} */

.modal-header {
  border: none !important;
}
.modal-body {
  border: none;
}

.modal-content {
  padding: 40px;
  /* width: 800px !important; */
}

.modal-body {
/* background: lightblue; */
padding: 0;
margin: 0;
/* gap: 20px; */
.modalContainer {
  gap: 30px;

  .col {
    /* background: blue; */
  }
}

.kanan{
  /* background: lightgreen; */
  margin: 0;
  padding: 0;

  .isiKanan {
    margin-bottom: 30px;

.dana {
  display: flex;
  align-items: center;
  gap: 16px;

    .Rp {
      width: 32px;
      height: 32px;
      background: #009B4C;
      border-radius: 5px;
      padding: 8px;

      span {
        margin: 0;
        padding: 0;
        color: white;
        justify-content: center;
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: semi-bold;
        line-height: 16px;
        letter-spacing: -0.24px;
      }
    }

    p {
      padding: 0;
      margin: 0;
    }
    }

    
    .inisiatorProf {
      display: flex;
      align-items: center;
      gap: 16px;

      img {
        width: 40px;
        border-radius: 50px;
      }

      p {
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.24px;
        color: #808080;
        font-weight: semi-bold;
        margin: 0;
      }
    }
  }
}
.kiri{
  /* background: green; */
  margin: 0;
  padding: 0;
}

  .fotoPratinjau {
    width: 260px;
    border-radius: 10px;
  }
  
  h5 {
    font-size: 16px;
    letter-spacing: -0.24px;
    color: black;
    font-weight: semi-bold;
  }
  p {
    font-size: 16px;
    letter-spacing: -0.24px;
    color: #808080;
  }

  .deskripsi {
    font-size: 14px;
    letter-spacing: -0.24px;
    color: black;
  }
}