/* SMALL */
@media (min-width: 320px) {
  .navbar {
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    background-color: #edf6f0;
    margin-bottom: 10px;
    height: fit-content;

    .koinNav {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      .navKiri {
        margin-bottom: 5px;
        max-width: 375px;
        p {
          font-size: 30px;
        }
      }

      .navKanan {
        display: flex;
        align-items: center;
        gap: 12px;

        .addProgram {
          padding: 12px 8px;
          background-color: #078d41;
          color: white;
          font-size: 11px;
          font-weight: semi-bold;
          border-radius: 10px;
          border: none;
          white-space: nowrap;

          img {
            width: 17px;
            height: 17px;
          }
        }

        .account {
          height: 100%;
          .photo {
            height: 45px;
            border-radius: 50px;
            border: 3px solid #009b4c;
          }
        }
      }
    }

    .addProgramNav {
      width: 100%;

      .navKiri {
        margin-bottom: 20px;
        .pageName {
          display: flex;
          align-items: center;

          .kembali {
            font-size: 14px;
            border: none;
            background: transparent;
          }

          img {
            width: 20px;
            height: 20px;
          }
        }
      }

      .navKanan {
        display: flex;
        align-items: center;
        gap: 12px;

        .simpanPengajuan {
          background-color: transparent;
          padding: 12px;
          border: 1px solid #bfbfbf;
          color: black;
          font-size: 13px;
          font-weight: semi-bold;
          border-radius: 10px;
        }

        .verifikasiProgram {
          padding: 12px;
          background-color: #078d41;
          color: white;
          font-size: 14px;
          font-weight: semi-bold;
          border-radius: 10px;
          border: none;
        }
      }
    }

  }

  .navKiri {
    .pageName {
      span: 16px;
      gap: 8px;
      display: flex;
      align-items: center;
    }

    .arrowLeft {
      width: 24px;
    }
  }

  /* .fotoPratinjau {
    height: 169px;
    width: 100%;
  } */

  

/* TABLET  */
@media (min-width: 767px) {
  .navbar {
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    background-color: #edf6f0;
    margin-bottom: 20px;
    padding: 20px 0;

    .koinNav {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      .navKanan {
        display: flex;
        align-items: center;
        gap: 12px;

        .addProgram {
          padding: 12px;
          background-color: #078d41;
          color: white;
          font-size: 14px;
          font-weight: semi-bold;
          border-radius: 10px;
          border: none;

          img {
            width: 17px;
            height: 17px;
          }
        }

        .account {
          height: 100%;
          .photo {
            height: 45px;
            border-radius: 50px;
            border: 3px solid #009b4c;
          }
        }
      }
    }

    .addProgramNav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navKiri {
        margin: 0;

        button {
          background: yellow;
        }
        .pageName {
          display: flex;
          align-items: center;
        }
      }

      .navKanan {
        display: flex;
        align-items: center;
        gap: 12px;

        .simpanPengajuan {
          background-color: transparent;
          padding: 12px;
          border: 1px solid #bfbfbf;
          color: black;
          font-size: 13px;
          font-weight: semi-bold;
          border-radius: 10px;
        }

        .verifikasiProgram {
          padding: 12px;
          background-color: #078d41;
          color: white;
          font-size: 14px;
          font-weight: semi-bold;
          border-radius: 10px;
          border: none;
        }
      }
    }
  }

  .navKiri {
    .pageName {
      span: 16px;
      gap: 8px;
      display: flex;
      align-items: center;
    }

    .arrowLeft {
      width: 24px;
    }
  }

 
}

/* LAPTOP */
@media (min-width: 769px) {
  .navbar {
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    background-color: #edf6f0;
    margin-bottom: 20px;
    padding: 20px 0;

    .koinNav {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      .navKanan {
        display: flex;
        align-items: center;
        gap: 12px;

        .addProgram {
          padding: 12px;
          background-color: #078d41;
          color: white;
          font-size: 14px;
          font-weight: semi-bold;
          border-radius: 10px;
          border: none;

          img {
            width: 17px;
            height: 17px;
          }
        }

        .account {
          height: 100%;
          .photo {
            height: 45px;
            border-radius: 50px;
            border: 3px solid #009b4c;
          }
        }
      }
    }

    .addProgramNav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navKiri {
        margin: 0;

        button {
          background: yellow;
        }
        .pageName {
          display: flex;
          align-items: center;
        }
      }

      .navKanan {
        display: flex;
        align-items: center;
        gap: 12px;

        .simpanPengajuan {
          background-color: transparent;
          padding: 12px;
          border: 1px solid #bfbfbf;
          color: black;
          font-size: 13px;
          font-weight: semi-bold;
          border-radius: 10px;
        }

        .verifikasiProgram {
          padding: 12px;
          background-color: #078d41;
          color: white;
          font-size: 14px;
          font-weight: semi-bold;
          border-radius: 10px;
          border: none;
        }
      }
    }
  }

  .navKiri {
    .pageName {
      span: 16px;
      gap: 8px;
      display: flex;
      align-items: center;
    }

    .arrowLeft {
      width: 24px;
    }
  }

  

 
}

/* LAPTOP L*/
@media (min-width: 1025px) {
  .navbar {
    height: 90px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    background-color: #edf6f0;

    .navbarContainer {
      /* border: 1px solid red; */
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      /* padding: 0 40px; */

      .navKanan {
        display: flex;
        align-items: center;
        gap: 24px;
      }

      .pageName p {
        font-size: 36px;
        font-weight: bold;
        text-transform: capitalize;
        margin: 0;
      }

      .photo {
        width: 56px;
        height: 56px;
        border-radius: 50px;
        border: 3px solid #009b4c;
      }

      .navKiri {
        .pageName {
          display: flex;
          align-items: center;

          .kembali {
            font-size: 16px;
            border: none;
            background: transparent;
          }

          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }

  .simpanPengajuan {
    /* ASLI  */
    background-color: transparent;
    padding: 15px;
    border: 1px solid #bfbfbf;
    color: black;
    font-size: 16px;
    font-weight: semi-bold;
    border-radius: 10px;
    /* update  */
    /* background-color: transparent;
    padding: 8px;
    border: 1px solid #bfbfbf;
    color: black;
    font-size: 10px;
    font-weight: semi-bold;
    border-radius: 10px; */
  }

  .verifikasiProgram {
    /* ASLI  */
    padding: 15px;
    background-color: #078d41;
    color: white;
    font-size: 16px;
    font-weight: semi-bold;
    border-radius: 10px;
    border: none;
    /* UPDATE  */
    /* padding: 8px;
    background-color: #078d41;
    color: white;
    font-size: 10px;
    font-weight: semi-bold;
    border-radius: 10px;
    border: none; */
  }

  .navKiri {
    .pageName {
      span: 16px;
      gap: 8px;
      display: flex;
      align-items: center;
    }

    .arrowLeft {
      width: 24px;
    }
  }

  /* .fotoPratinjau {
    height: 169px;
    width: 100%;
  } */

}
}
