/* SMALL */
@media (max-width: 425px) {
  main {
    width: 100%;
    heigth: 100%;
    padding: 0 20px 50px 20px;
  }
  * {
    margin: 0;
    padding: 0;
    text-decoration: none !important;

    .containerSidebarCobaLagi {
      width: 100vw;
      display: flex;
      overflow: hidden;

      .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 231px; /* Sesuaikan dengan kebutuhan Anda */
        padding: 30px 15px; /* Sesuaikan dengan kebutuhan Anda */
        background: #060313;
        height: 100vh;

    
        .bars {
          display: flex;
          font-size: 25px;
        }

        .logo {
          gap: 10px;
          img {
            min-width: 95px;
            max-width: 95px;
            margin-bottom: 30px;
          }
        }

        .link {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 15px;
          padding: 15px 5px 15px 10px;
          color: #828189;
          text-transform: capitalize;
          border-radius: 10px;
          font-size: 14px;
          white-space: nowrap;

          &:hover {
            background: #078d41;
            color: white;
          }
          &:active {
            background: #078d41;
            color: white;
          }

          img {
            /* background: yellow; */
          }
        }

        .subLink {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 15px;
          padding: 15px 5px 15px 15px;
          border-radius: 10px;
          color: #828189 !important;

          &:hover {
            background: #078d41 !important;
            color: white;
          }
          &:active {
            background: #078d41 !important;
            color: white;
          }

          .linkText {
            font-size: 14px !important;
            color: #828189;
            text-transform: capitalize;

            &:hover {
              color: white;
            }
          }
        }
      }
      /* 
      main {
        width: 100vw;
        heigth: 100vh;
        background-color: #edf6f0;
        overflow: hidden;
        padding: 0 30px 0 30px;
      } */
    }
  }
}

/* MEDIUM  */
@media (min-width: 426px) {
  main {
    margin-left: 0;
    width: 100%;
    heigth: 100%;
    background-color: #edf6f0;
    overflow: hidden;
    padding: 0 30px 0 30px;
  }

    .containerSidebarCobaLagi {
      width: 100vw;
      display: flex;
      height: 100vh;

      .sidebar {
        position: fixed; /* Mengatur sidebar tetap di posisi yang sama */
        top: 0; /* Mengatur posisi vertikal di bagian atas */
        left: 0; /* Mengatur posisi horizontal di bagian kiri */
        width: 250px; /* Sesuaikan lebar sesuai kebutuhan Anda */
        height: 100vh; /* Mengatur tinggi agar sesuai dengan tinggi layar */
        padding: 30px 15px; /* Sesuaikan padding sesuai kebutuhan Anda */
        background: #060313;
        /* transition: all 0.5s ; */

        /* .topSection { */
        .bars {
          display: flex;
          font-size: 25px;
        }

        .logo {
          gap: 10px;
          img {
            min-width: 95px;
            max-width: 95px;
            margin-bottom: 30px;
          }
        }

        .link {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 15px;
          padding: 15px 5px 15px 10px;
          color: #828189;
          text-transform: capitalize;
          border-radius: 10px;
          font-size: 14px;
          white-space: nowrap;
          text-decoration: none;
          

          &:hover {
            background: #078d41;
            color: white;
          }
          &:active {
            background: #078d41;
            color: white;
          }

          img {
            /* background: yellow; */
          }
        }

        .subLink {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 15px;
          padding: 15px 5px 15px 15px;
          border-radius: 10px;
          color: #828189 !important;
          text-decoration: none;

          &:hover {
            background: #078d41 !important;
            color: white;
          }
          &:active {
            background: #078d41 !important;
            color: white;
          }

          .linkText {
            font-size: 14px !important;
            color: #828189;
            text-transform: capitalize;

            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }

/* LAPTOP */
@media (min-width: 769px) {
  * {
    margin: 0;
    padding: 0;
    text-decoration: none !important;

    .containerSidebarCobaLagi {
      width: 100vw;
      display: flex;
      /* transition: margin-left 0.5s; */

      .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px; /* Sesuaikan dengan kebutuhan Anda */
        padding: 30px 15px; /* Sesuaikan dengan kebutuhan Anda */
        background: #060313;

        /* .topSection { */
        .bars {
          display: flex;
          font-size: 25px;
        }

        .logo {
          gap: 10px;
          img {
            min-width: 95px;
            max-width: 95px;
            margin-bottom: 30px;
          }
        }

        .link {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 15px;
          padding: 15px 5px 15px 10px;
          color: #828189;
          text-transform: capitalize;
          border-radius: 10px;
          font-size: 14px;
          white-space: nowrap;

          &:hover {
            background: #078d41;
            color: white;
          }
          &:active {
            background: #078d41;
            color: white;
          }

          img {
            /* background: yellow; */
          }
        }

        .subLink {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 15px;
          padding: 15px 5px 15px 15px;
          border-radius: 10px;
          color: #828189 !important;

          &:hover {
            background: #078d41 !important;
            color: white;
          }
          &:active {
            background: #078d41 !important;
            color: white;
          }

          .linkText {
            font-size: 14px !important;
            color: #828189;
            text-transform: capitalize;

            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }
}

main {
  /* margin-left: calc(250px); */
  width: 100%;
  background-color: #edf6f0;
  overflow: hidden;
  /* padding: 0 30px 50px 30px; */
  overflow-y: auto;
  overflow-x: hidden;
  /* transition: all 0.5s; */
}

main > * {
  max-width: 1024px;
  margin-left: auto; /* Mengatur margin kiri dan kanan menjadi auto agar konten berada di tengah */
  margin-right: auto;
}
