/* SMALL */
@media (max-width: 425px) {
  main {
    margin-left: calc(70px);
  
    width: 100%;
    heigth: 100%;
    background-color: #edf6f0;
    overflow: hidden;
    padding: 0 30px 0 30px;
    /* display: flex;
    justify-content: center; */
  }
    * {
        margin: 0;
        padding: 0;
        text-decoration: none !important;
    
        .containerSidebarCobaLagi {
          /* width: 100vw; */
          display: flex;
          /* transition: margin-left 0.5s; */
    
          .sidebar {
            position: fixed; /* Atur posisi sidebar menjadi tetap */
            top: 0; /* Atur posisi vertikalnya di bagian atas */
            left: 0; /* Atur posisi horizontalnya di bagian kiri */
            width: 250px; /* Tentukan lebar sidebar */
            height: 100%;
            background-color: #060313;
            color: white;
            height: 100vh;
            /* width: 250px !important; */
            padding: 30px 15px 30px 15px;
            transition: all 0.3s;
          
                transition: width 0.5s; /* Atur transisi untuk lebar sidebar */
             
    
            /* .topSection { */
                .bars {
                    display: flex;
                    /* justify-content: center; */
                    font-size: 25px;
                    /* background: green; */
                  }
    
                .logo {
                    gap: 10px;
                    img {
                      min-width: 95px;
                      max-width: 95px;
                      margin-bottom: 30px;
                    }
                }
              
            
            .link {
              width: 100%;
              display: flex;
              align-items: center;
              gap: 15px;
              padding: 15px 5px 15px 10px;
              /* color: white; */
              color: #828189;
              text-transform: capitalize;
              border-radius: 10px;
              font-size: 14px;
              white-space: nowrap;
              /* background: rgba(255, 255, 255, 0.05) !important; */
    
              &:hover {
                background: #078d41;
                color: white;
              }
              &:active {
                background: #078d41;
                color: white;
              }
    
              img {
                /* background: yellow; */
              }
            }
    
            .subLink {
              width: 100%;
              display: flex;
              align-items: center;
              gap: 15px;
              padding: 15px 5px 15px 15px;
              border-radius: 10px;
              color: #828189 !important;
              transition: all 0.5s;
    
              &:hover {
                background: #078d41 !important;
                color: white;
              }
              &:active {
                background: #078d41 !important;
                color: white;
              }
    
              .linkText {
                font-size: 14px !important;
                color: white;
                text-transform: capitalize;
              }
            }
           
          }
    
          main {
            width: 100vw;
            heigth: 100vh;
            background-color: #edf6f0;
            overflow: hidden;
            padding: 0 30px 0 30px;
          }
        }
      }
  }
  
  /* MEDIUM  */
  @media (min-width: 426px) {
    main {
      margin-left: 0;
    
      width: 100%;
      heigth: 100%;
      background-color: #edf6f0;
      overflow: hidden;
      padding: 0 30px 0 30px;
      /* display: flex;
      justify-content: center; */
    }
    * {
        margin: 0;
        padding: 0;
        text-decoration: none !important;
    
        .containerSidebarCobaLagi {
          width: 100vw;
          display: flex;
          /* transition: margin-left 0.5s; */
    
          .sidebar {
            background-color: #060313;
            color: white;
            height: 100vh;
            /* width: 250px !important; */
            padding: 30px 15px 30px 15px;
            transition: all 0.3s;
          
                transition: width 0.5s; /* Atur transisi untuk lebar sidebar */
             
    
            /* .topSection { */
                .bars {
                    display: flex;
                    /* justify-content: center; */
                    font-size: 25px;
                    /* background: green; */
                  }
    
                .logo {
                    gap: 10px;
                    img {
                      min-width: 95px;
                      max-width: 95px;
                      margin-bottom: 30px;
                    }
                }
              
            
            .link {
              width: 100%;
              display: flex;
              align-items: center;
              gap: 15px;
              padding: 15px 5px 15px 10px;
              /* color: white; */
              color: #828189;
              text-transform: capitalize;
              border-radius: 10px;
              font-size: 14px;
              white-space: nowrap;
              /* background: rgba(255, 255, 255, 0.05) !important; */
    
              &:hover {
                background: #078d41;
                color: white;
              }
              &:active {
                background: #078d41;
                color: white;
              }
    
              img {
                /* background: yellow; */
              }
            }
    
            .subLink {
              width: 100%;
              display: flex;
              align-items: center;
              gap: 15px;
              padding: 15px 5px 15px 15px;
              border-radius: 10px;
              color: #828189 !important;
              transition: all 0.5s;
    
              &:hover {
                background: #078d41 !important;
                color: white;
              }
              &:active {
                background: #078d41 !important;
                color: white;
              }
    
              .linkText {
                font-size: 14px !important;
                color: white;
                text-transform: capitalize;
              }
            }
           
          }
    

        }
      }
  }

/* LAPTOP */
@media (min-width: 769px) {
  * {
    margin: 0;
    padding: 0;
    text-decoration: none !important;

    .containerSidebarCobaLagi {
      width: 100vw;
      display: flex;
      /* transition: margin-left 0.5s; */

      .sidebar {
        background-color: #060313;
        color: white;
        height: 100vh;
        /* width: 250px !important; */
        padding: 30px 15px 30px 15px;
        transition: all 0.3s;
      
            transition: width 0.5s; /* Atur transisi untuk lebar sidebar */
         

        /* .topSection { */
            .bars {
                display: flex;
                /* justify-content: center; */
                font-size: 25px;
                /* background: green; */
              }

            .logo {
                gap: 10px;
                img {
                  min-width: 95px;
                  max-width: 95px;
                  margin-bottom: 30px;
                }
            }
          
        
        .link {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 15px;
          padding: 15px 5px 15px 10px;
          /* color: white; */
          color: #828189;
          text-transform: capitalize;
          border-radius: 10px;
          font-size: 14px;
          white-space: nowrap;
          /* background: rgba(255, 255, 255, 0.05) !important; */

          &:hover {
            background: #078d41;
            color: white;
          }
          &:active {
            background: #078d41;
            color: white;
          }

          img {
            /* background: yellow; */
          }
        }

        .subLink {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 15px;
          padding: 15px 5px 15px 15px;
          border-radius: 10px;
          color: #828189 !important;
          transition: all 0.5s;

          &:hover {
            background: #078d41 !important;
            color: white;
          }
          &:active {
            background: #078d41 !important;
            color: white;
          }

          .linkText {
            font-size: 14px !important;
            color: white;
            text-transform: capitalize;
          }
        }
       
      }

      main {
        width: 100vw;
        heigth: 100vh;
        background-color: #edf6f0;
        overflow: hidden;
        padding: 0 30px 0 30px;
      }
    }
  }
}

/* LAPTOP L */
@media (min-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;

    .containerSidebarCobaLagi {
      width: 100vw;
      display: flex;

      .sidebar {
        background-color: #060313;
        color: white;
        height: 100vh;
        width: 300px;

        .topSection {
          display: flex;
          align-items: center;
          padding: 20px 15px;

          .logo {
            font-size: 30px;
          }

          .bars {
            font-size: 25px;
            display: flex;
          }
        }

        .subLink {
          display: flex;
          color: white;
          text-decoration: none;
          padding: 10px 15px;
          gap: 15px;
          transition: all 0.5s;

          &:hover {
            background-color: lightgreen;
            color: black;
            transition: all 0.5s;
          }

          .icon,
          .linkText {
            font-size: 20px;
          }
        }

        .activeSub {
          background-color: lightgreen;
          color: black;
        }
      }

      main {
        width: 100vw;
        heigth: 100vh;
        background-color: #edf6f0;
        overflow: hidden;
        padding: 0 30px 0 30px;
      }
    }
  }
}




main > * {
  max-width: 1024px;
  margin-left: auto; /* Mengatur margin kiri dan kanan menjadi auto agar konten berada di tengah */
  margin-right: auto;
}