/* PHONE  */
@media (max-width: 425px) {
    .dataNamaContainer {
        display: flex;
        gap: 20px;

        .fotoNama {
          border-radius: 10px;
          width: 100px;
        }

        .description {
          .title {
            margin-bottom: 4px;
            font-weight: bold;
            font-size: 12px;
            white-space: nowrap;
          }

          .akses {
            display: flex;
            gap: 20px;
            cursor: pointer;

            .action {
              .actionIcon {
                margin-right: 4px;
              }

              span {
                font-size: 12px;
                color: #808080;
              }

              &:hover {
                span {
                  color: red;
                }
              }
            }
          }
        }
      }
}

/* TABLET  */
@media (min-width: 426px) {
    .dataNamaContainer {
        display: flex;
        gap: 20px;

        .fotoNama {
          border-radius: 10px;
          width: 100px;
        }

        .description {
          .title {
            margin-bottom: 4px;
            font-weight: bold;
            font-size: 12px;
            white-space: nowrap;
          }

          .akses {
            display: flex;
            gap: 20px;
            cursor: pointer;

            .action {
              .actionIcon {
                margin-right: 4px;
              }

              span {
                font-size: 12px;
                color: #808080;
              }

              &:hover {
                span {
                  color: red;
                }
              }
            }
          }
        }
      }
}


/* LAPTOP  */
@media (min-width: 769px) {
    .dataNamaContainer {
        display: flex;
        gap: 20px;

        .fotoNama {
          border-radius: 10px;
          width: 100px;
        }

        .description {
          .title {
            margin-bottom: 4px;
            font-weight: bold;
            font-size: 12px;
            white-space: nowrap;
          }

          .akses {
            display: flex;
            gap: 20px;
            cursor: pointer;

            .action {
              .actionIcon {
                margin-right: 4px;
              }

              span {
                font-size: 12px;
                color: #808080;
              }

              &:hover {
                span {
                  color: red;
                }
              }
            }
          }
        }
      }
}

/* LAPTOP L  */
@media (min-width: 1025px) {    
    .dataNamaContainer {
    display: flex;
    gap: 20px;

    .fotoNama {
      border-radius: 10px;
      width: 100px;
    }

    .description {
      .title {
        margin-bottom: 4px;
        font-weight: bold;
        font-size: 12px;
        white-space: nowrap;
      }

      .akses {
        display: flex;
        gap: 20px;
        cursor: pointer;

        .action {
          .actionIcon {
            margin-right: 4px;
          }

          span {
            font-size: 12px;
            color: #808080;
          }

          &:hover {
            span {
              color: red;
            }
          }
        }
      }
    }
  }
}