.fotoDetail {
  padding: 40px;

  .container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;

    .dropzone {
      width: 100%;
      border-radius: 10px;
      border: 2px dashed #808080;
      background-color: #f6fff9;
      justify-content: center;
      display: flex;
      padding: 80px 60px;
      margin-bottom: 20px;

      .imgContainer {
        display: flex;
        justify-content: center;

        img {
          display: block;
          width: 40px;
          text-align: center;
          margin-bottom: 16px;
        }
      }

      h1 {
        display: block;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: black;
        line-height: 25px;
        letter-spacing: -0.24px;
        margin-bottom: 8px;

        span {
          color: #0047ff;
          cursor: pointer;
        }
      }

      p {
        display: block;
        text-align: center;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.24px;
        color: #808080;
      }
    }

    .row {
      width: 100%;
      gap: 20px;
      padding: 0;
      margin: 0;

      .col {
        width: fill;
        height: 320px;
        border: 2px dashed #808080;
        background-color: #f6fff9;
        border-radius: 10px;

        &:hover {
          border: 2px solid #09A64D;
        }
      }
    }
  }
  .selectedImages {
    .imagePreview {
      width: 100%;
      height: 260px;
      object-fit: cover;
      border: 2px dashed #808080;
      border-radius: 8px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }

      p {
        margin-top: 8px;
        font-size: 12px;
      }
    }
  }
}


/* SMALL */
@media (min-width: 320px) {
}

/* MEDIUM  */
@media (min-width: 767px) {
}

/* LAPTOP */
@media (min-width: 1024px) {
}