/* PHONE  */
@media (max-width: 425px) {
  .addProgramPage {
    width: 100%;

    .navPage {
      width: 100%;
      padding: 30px 0;
      margin-bottom: 10px;

      .navKiri {
        margin-bottom: 20px;
        .pageName {
          display: flex;
          align-items: center;

          .kembali {
            font-size: 14px;
            border: none;
            background: transparent;
          }

          img {
            width: 20px;
            height: 20px;
          }
        }
      }

      .navKanan {
        display: flex;
        align-items: center;
        gap: 12px;

        .simpanPengajuan {
          background-color: transparent;
          padding: 12px;
          border: 1px solid #bfbfbf;
          color: black;
          font-size: 13px;
          font-weight: semi-bold;
          border-radius: 10px;
        }

        .verifikasiProgram {
          padding: 12px;
          background-color: #078d41;
          color: white;
          font-size: 14px;
          font-weight: semi-bold;
          border-radius: 10px;
          border: none;

          &:disabled {
            opacity: 0.5; /* Menurunkan opasitas tombol saat dinonaktifkan */
            cursor: not-allowed; /* Menetapkan kursor tidak diizinkan saat tombol dinonaktifkan */
          }
        }
      }
    }

    .menu {
      width: 100%;
      display: flex;
      flex-direction: flex-wrap;
      justify-content: center;

      .nav-link {
        width: 100%;
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-size: 14px;
        font-weight: semi-bold;
        color: #404040;
        padding: 12px 10px;
        border-radius: 10px;
        margin-bottom: 10px;

        &.informasi {
          border: 1px solid #009b4c;
        }
      }
    }
  }
}

/* TABLET  */
@media (min-width: 426px) {
  .addProgramPage {
    .navPage {
      width: 100%;
      padding: 30px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      .navKiri {
        .pageName {
          display: flex;
          align-items: center;

          .kembali {
            font-size: 14px;
            border: none;
            background: transparent;
          }

          img {
            width: 20px;
            height: 20px;
          }
        }
      }

      .navKanan {
        display: flex;
        align-items: center;
        gap: 12px;

        .simpanPengajuan {
          background-color: transparent;
          padding: 12px;
          border: 1px solid #bfbfbf;
          color: black;
          font-size: 13px;
          font-weight: semi-bold;
          border-radius: 10px;
        }

        .verifikasiProgram {
          padding: 12px;
          background-color: #078d41;
          color: white;
          font-size: 14px;
          font-weight: semi-bold;
          border-radius: 10px;
          border: none;

          &:disabled {
            opacity: 0.5; /* Menurunkan opasitas tombol saat dinonaktifkan */
            cursor: not-allowed; /* Menetapkan kursor tidak diizinkan saat tombol dinonaktifkan */
          }
        }
      }
    }

    .menu {
      margin-bottom: 15px;

      a {
        margin-right: 10px;
        text-decoration: none;
        font-size: 14px;
        font-weight: semi-bold;
        color: #404040;
        padding: 12px 10px;
        border-radius: 10px;

        &.informasi {
          border: 1px solid #009b4c;
        }

        /* &:hover {
          color: black;
          border: 1px solid #009b4c;
          font-weight: bold;
        }

        &:active {
          color: black;
        } */
      }
    }
  }
  /* .navContainer {
      .menu {
        a {
          text-decoration: none;
          font-size: 14px;
          font-weight: semi-bold;
          color: #404040;
          padding: 12px 10px;
          border-radius: 10px;
  
          &:hover {
            color: black;
            border: 1px solid #009b4c;
            font-weight: bold;
          }
  
          &:active {
            color: black;
          }
        }
      }
    } */
}

/* LAPTOP  */
@media (min-width: 769px) {
  .addProgramPage {
    .navPage {
      width: 100%;
      padding: 30px 20px;
      margin-bottom: 10px;

      .navKiri {
        .pageName {
          display: flex;
          align-items: center;

          .kembali {
            font-size: 14px;
            border: none;
            background: transparent;
          }

          img {
            width: 20px;
            height: 20px;
          }
        }
      }

      .navKanan {
        display: flex;
        align-items: center;
        gap: 12px;

        .simpanPengajuan {
          background-color: transparent;
          padding: 12px;
          border: 1px solid #bfbfbf;
          color: black;
          font-size: 13px;
          font-weight: semi-bold;
          border-radius: 10px;
        }

        .verifikasiProgram {
          padding: 12px;
          background-color: #078d41;
          color: white;
          font-size: 14px;
          font-weight: semi-bold;
          border-radius: 10px;
          border: none;

          &:disabled {
            opacity: 0.5; /* Menurunkan opasitas tombol saat dinonaktifkan */
            cursor: not-allowed; /* Menetapkan kursor tidak diizinkan saat tombol dinonaktifkan */
          }
        }
      }
    }
  }
}

/* LAPTOP L  */
@media (min-width: 1025px) {
}
