/* PHONE  */
@media (max-width: 425px) {
  .konten {
    .kontenNav {
      padding: 30px 0;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      .navKiri {
        max-width: 375px;
        p {
          font-size: 30px;
          margin: 0;
        }
      }

      .navKanan {
        display: flex;
        align-items: center;
        gap: 12px;

        .addProgram {
          padding: 12px 8px;
          background-color: #078d41;
          color: white;
          font-size: 11px;
          font-weight: semi-bold;
          border-radius: 10px;
          border: none;
          white-space: nowrap;
  
          img {
              margin-left: 10px;
            width: 17px;
            height: 17px;
          }
        }

        .account {
          min-height: 100%;
          max-height: 100%;
          
          .photo {
            min-height: 45px;
            max-height: 45px;
            border-radius: 50px;
            border: 3px solid #009b4c;
          }
        }
      }
    }
  }
}

/* TABLET  */
@media (min-width: 426px) {
  .konten {
    .kontenNav {
      padding: 30px 20px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      .navKiri {
        max-width: 375px;
        p {
          font-size: 30px;
          margin: 0;
        }
      }

      .navKanan {
        display: flex;
        align-items: center;
        gap: 12px;

        .addProgram {
          padding: 12px 8px;
          background-color: #078d41;
          color: white;
          font-size: 11px;
          font-weight: semi-bold;
          border-radius: 10px;
          border: none;
          white-space: nowrap;
  
          img {
              margin-left: 10px;
            width: 17px;
            height: 17px;
          }
        }

        .account {
          min-height: 100%;
          max-height: 100%;
          .photo {
            min-height: 45px;
            max-height: 45px;
            border-radius: 50px;
            border: 3px solid #009b4c;
          }
        }
      }
    }
  }
}

/* LAPTOP  */
@media (min-width: 769px) {
  .konten {
    .kontenNav {
      padding: 30px 20px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      .navKiri {
        max-width: 375px;
        p {
          font-size: 30px;
          margin: 0;
        }
      }

      .navKanan {
        display: flex;
        align-items: center;
        gap: 12px;

        .addProgram {
          padding: 12px 8px;
          background-color: #078d41;
          color: white;
          font-size: 11px;
          font-weight: semi-bold;
          border-radius: 10px;
          border: none;
          white-space: nowrap;
  
          img {
              margin-left: 10px;
            width: 17px;
            height: 17px;
          }
        }

        .account {
          min-height: 100%;
          max-height: 100%;
          .photo {
            min-height: 45px;
            max-height: 45px;
            border-radius: 50px;
            border: 3px solid #009b4c;
          }
        }
      }
    }
  }
}
